/* here you can put your own css to customize and override the theme */
.no-sidebar {
    margin-left: 0 !important;
}

.register-divider {
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 1px solid #CCCCCC;
}

.date-picker {
    background-color: #FFFFFF !important;
    cursor: text !important;
}