<form class="form form-horizontal" method="post" action="" id="course-form" th:action="@{'/academic/course/add'}" th:object="${course}" xmlns:th="http://www.thymeleaf.org">
    <div class="form-body">
        <input type="hidden" name="id" value="" />
        <div class="form-group">
            <label class="control-label col-md-3">Course ID</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="courseId" th:field="*{courseId}" placeholder="Course Id" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Course Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" th:field="*{courseName}" id="courseName" placeholder="Course Name" />
            </div>
        </div>
        <div class="form-group">
            <label for="degreeId" class="control-label col-md-3">Degree ID</label>
            <div class="col-md-9">
                <select class="form-control" name="degreeId" id="degreeId">
                    <option value="">- Please Select -</option>
                    <option value="1">S1</option>
                    <option value="2">S2</option>
                    <option value="3">S3</option>
                    <option value="4">S1 Matriculation</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Semester</label>
            <div class="col-md-9">
                <input type="number" class="form-control" th:field="*{semester}" id="semester" placeholder="Semester" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">SKS</label>
            <div class="col-md-9">
                <input type="number" class="form-control" th:field="*{semesterCreditNumber}" id="semesterCreditNumber" placeholder="SKS" />
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="col-md-offset-3 col-md-9">
            <a th:href="@{''}" class="btn btn-default">
                <i class="icon-arrow-left"></i> Back
            </a>
            <button type="submit" class="btn btn-primary">
                Submit <i class="icon-arrow-right"></i>
            </button>
        </div>
    </div>
</form>