<form class="form form-horizontal" method="post" action="" th:action="@{'/academic/lecture/add'}" th:object="${lecture}" id="lecture-form" xmlns:th="http://www.thymeleaf.org">
    <div class="form-body">
        <input type="hidden" name="id" value="" />
        <div class="form-group">
            <label class="control-label col-md-3">Lecture Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Email</label>
            <div class="col-md-9">
                <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email" />
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="col-md-offset-3 col-md-9">
            <a th:href="@{''}" class="btn btn-default">
                <i class="icon-arrow-left"></i> Back
            </a>
            <button type="submit" class="btn btn-primary">
                Submit <i class="icon-arrow-right"></i>
            </button>
        </div>
    </div>
</form>