<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<!-- INSERT YOUR CSS PLUGIN HERE -->
<head th:fragment="cssPlugins" th:remove="tag">
</head>

<!-- INSERT YOUR JS PLUGIN HERE -->
<body th:fragment="jsPlugins" th:remove="tag">
</body>

<!-- INSERT YOUR JS PAGE HERE -->
<body th:fragment="jsPage" th:remove="tag">
<script src="../../../assets/pages/scripts/academic.js" type="text/javascript"
        th:src="@{/assets/pages/scripts/academic.js}"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        AcademicPage.lectureList();
    });
</script>
</body>

<!-- INSERT YOUR LAYOUT HERE -->
<body th:fragment="mainLayout" th:remove="tag">
<div class="portlet light">
    <div class="portlet-body">
        <h4 class="block">Lecture List</h4>
        <div class="block btn-action">
            <a th:href="@{'/academic/lecture/add'}" class="btn btn-primary">Create New</a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lecture : ${lectureList.lectureList}">
                <td  th:text="${lecture.username}">D10212</td>
                <td th:text="${lecture.name}">1</td>
                <td th:text="${lecture.email}">Cornelius Alvin Prilly</td>
                <td>
                    <a th:href="'edit/' + ${lecture.username}" class="btn btn-xs btn-info btn-accept">Edit</a>
                    <button type="button" class="btn btn-xs btn-danger btn-delete" th:attr="data-id=1">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <div class="portlet-body form">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <p class="text-center">Are you sure want to delete this lecture? </p>
                                <input type="hidden" name="id" id="lecture-id" value=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">OK <i class="icon-arrow-right"></i></button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</body>
</html>