<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<!-- INSERT YOUR CSS PLUGIN HERE -->
<head th:fragment="cssPlugins" th:remove="tag">
</head>

<!-- INSERT YOUR JS PLUGIN HERE -->
<body th:fragment="jsPlugins" th:remove="tag">
<script src="../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"
        th:src="@{/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
<script type="text/javascript" src="../../assets/global/plugins/moment.min.js"
        th:src="@{/assets/global/plugins/moment.min.js}"></script>
</body>

<!-- INSERT YOUR JS PAGE HERE -->
<body th:fragment="jsPage" th:remove="tag">
<script src="../../assets/pages/scripts/newStudent.js" type="text/javascript"
        th:src="@{/assets/pages/scripts/newStudent.js}"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        NewStudentPage.upload();
    });
</script>
</body>

<!-- INSERT YOUR LAYOUT HERE -->
<body th:fragment="mainLayout" th:remove="tag">
<div class="portlet light">
    <div class="portlet-body">
        <div class="portlet light bg-inverse">
            <div class="portlet-body form">
                <h4 class="block">Upload File</h4>
                <form id="upload-form" class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                <div class="form-body">
                    <span th:text="${session.userSession.email}">This is error message.</span>
                    <div th:class="|alert alert-danger|" th:if="${error} != null">
                        <button class="close" data-close="alert"></button>
                        <span th:text="${error}">This is error message.</span>
                    </div>
                    <div th:class="|alert alert-success|" th:if="${success} != null">
                        <button class="close" data-close="alert"></button>
                        <span th:text="${success}">Success to Upload.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Type</label>
                        <div class="col-md-9">
                            <select class="form-control" name="type" id="type-upload">
                                <option value="">-- Please Select --</option>
                                <option value="pym">Payment</option>
                                <option value="doc">Document</option>
                            </select>
                        </div>
                    </div>
                    <div id="upload-data">
                        <div class="form-group">
                            <label class="control-label col-md-3">Document Type</label>
                            <div class="col-md-9">
                                <select class="form-control" name="document" id="document-upload">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">File</label>
                            <div class="col-md-9">
                                <input type="file" class="form-control" placeholder="File" name="file"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn blue pull-right" id="btn-submit">
                        Submit <i class="icon-arrow-right"></i>
                    </button>
                </div>
            </form>
            </div>
        </div>
        <div>
            <h4 class="block">Status Upload</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>File</th>
                    <th>Upload At</th>
                    <th>Status</th>
                    <th>Reason</th>
                </tr>
                </thead>
                <tbody id="upload-table">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>