<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li>
                <a href="">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-basket"></i>
                    <span class="title">eCommerce</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="">
                            <i class="icon-basket"></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-tag"></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-handbag"></i>
                            Products
                        </a>
                    </li>
                </ul>
            </li>
            <li class="active open">
                <a href="javascript:;">
                    <i class="icon-rocket"></i>
                    <span class="title">Page Layouts</span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="">
                            <span class="badge badge-warning">new</span>Right Sidebar Page</a>
                    </li>
                    <li>
                        <a href="">
                            Sidebar Fixed Page</a>
                    </li>
                    <li>
                        <a href="">
                            Sidebar Closed Page</a>
                    </li>
                    <li class="active">
                        <a href="">
                            Blank Page</a>
                    </li>
                    <li>
                        <a href="">
                            Boxed Page</a>
                    </li>
                    <li>
                        <a href="">
                            Language Switch Bar</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
</html>