<th:block xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <!--/* New Student Menu */-->
        <th:block th:if="${userSession.role}=='ROLE_NEW_STUDENT'">
            <li class="nav-item start">
                <a href="" class="nav-link nav-toggle">
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/pmb/upload'}" class="nav-link nav-toggle">
                    <span class="title">Upload File</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">Payment</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/pmb/exam/schedule'}" class="nav-link nav-toggle">
                    <span class="title">Exam Schedule</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/pmb/exam/result'}" class="nav-link nav-toggle">
                    <span class="title">Exam Results</span>
                </a>
            </li>
        </th:block>
        <th:block th:if="${userSession.role}=='ROLE_ACADEMIC'">
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">Period</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">New Student</span>
                </a>
                <div class="collapse navbar-collapse" id="collapse">
                    <ul id="categories-menu" class="nav nav-pills nav-stacked">
                        <li><a href="" th:href="@{'/academic/pmb/payment/verification'}">New Student List</a></li>
                        <!--Todo move into finance menu-->
                        <li><a href="" th:href="@{'/finance/pmb/payment/verification'}">Payment Verification</a></li>

                        <li><a href="" th:href="@{'/academic/pmb/document/verification'}">Document Verification</a></li>
                        <li><a href="" th:href="@{'/academic/pmb/examresult/verification'}">Exam Result Verification</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/academic/course/list'}" class="nav-link nav-toggle">
                    <span class="title">Course</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/academic/lecture/list'}" class="nav-link nav-toggle">
                    <span class="title">Lecture</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/academic/krs/list'}" class="nav-link nav-toggle">
                    <span class="title">KRS</span>
                </a>
            </li>
        </th:block>
        <th:block th:if="${userSession.role}=='ROLE_LECTURE'">
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">List Class</span>
                </a>
            </li>
        </th:block>
        <th:block th:if="${userSession.role}=='ROLE_STUDENT'">
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">Kartu Studi Mahasiswa</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">Transkip Nilai</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">KRS</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" th:href="@{'/home'}" class="nav-link nav-toggle">
                    <span class="title">Payment</span>
                </a>
            </li>
        </th:block>


    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
</th:block>