<html lang="en" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<!-- INSERT YOUR CSS PLUGIN HERE -->
<head th:fragment="cssPlugins" th:remove="tag">
</head>

<!-- INSERT YOUR JS PLUGIN HERE -->
<body th:fragment="jsPlugins" th:remove="tag">
</body>

<!-- INSERT YOUR JS PAGE HERE -->
<body th:fragment="jsPage" th:remove="tag">
</body>

<!-- INSERT YOUR LAYOUT HERE -->
<body th:fragment="mainLayout" th:remove="tag">
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="block btn-action">
                <a th:href="@{/}" class="btn btn-primary">Create New</a>
            </div>
            <div class="col-md-12 margin-top-20">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th width="25%">Year</th>
                        <th width="25%">Start Date</th>
                        <th width="25%">End Date</th>
                        <th width="25%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2016</td>
                        <td>10 Mar 2016</td>
                        <td>10 Feb 2017</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>10 Mar 2017</td>
                        <td>10 Feb 2018</td>
                        <td>
                            <a th:href="@{'/'}" class="btn btn-info btn-xs">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>10 Mar 2016</td>
                        <td>10 Feb 2017</td>
                        <td>
                            <a th:href="@{'/'}" class="btn btn-info btn-xs">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                            <a th:href="@{'/'}" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash-o"></i> Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>